

#Python Task1#

###### I'm Data Analytics
##### I'm Data Analytics
#### I'm Data Analytics
### I'm Data Analytics
## I'm Data Analytics
# I'm Data Analytics


# Text Formatting 

## emphasize text using italics, bold, or both 

*My name is Mukul Nipane*
_My name is Mukul Nipane_

**My name is Mukul Nipane**
__My name is Mukul Nipane__

***My name is Mukul Nipane***
___My name is Mukul Nipane___

~~My name is Mukul Nipane~~


# Unordered Lists

Use asterisks (`*`), hyphens (`-`), or plus signs (`+`) to create unordered list items.

1. Television
2. Refrigirator
  * Samsung
  * Sony
    * Bravia
3. Fridge
4. Washing Machine

# Ordered Lists

1. Television item
2. Refrigirator item
   1. Samsung brand
   2. Sony brand
3. Fridge item


# Code

## Inline Code

`` My name is Mukul Nipane ``



# Code Blocks

```
def addValue(a,b):
    return a+b

```

# Tables

| Header 1 | Header 2 | Header 3 |
|----------|:--------:|---------:|
| Mukul | Sakshi | Rahul |
| Dinesh | Manish | Swati |